  <ion-modal-view class="product edit create">
    <ion-content>
      <div class="list">
        <div class="item item-divider">
          Your attack can hit up to <strong>{{possibleTargets}}</strong> more enemies.
        </div>
        <ion-list>
          <div class="item item-divider" ng-repeat="target in availableTargets" ng-click="toggleMultiSelected(target.name)">
            <ion-item>
              <div class="row">
                <div class="col col-10">
                  <img ng-src={{target.imgSrc}} alt="oopsies" height=50 width=50>
                </div>
                <div class="col col-10">
                  <label class="checkbox">
                    <input type="checkbox" ng-model="target.selected" ng-click="toggleMultiSelected(target.name)">
                  </label>
                </div>
                <div class="col col-center">
                  <strong> {{target.name}} </strong> <br> HP: {{target.hp}}
                </div>
              </div>
            </ion-item>
          </div>
        </ion-list>
      </div>

      <div id="finalize">
        <button class="button button-outline button-positive" ng-click="CancelAttack()">
          Cancel Attack
        </button>
       <button class="button button-outline button-assertive" ng-click="LaunchAttack()">
         Finalize Attack!!
       </button>
     </div>
    </ion-content>
  </ion-modal-view>
